<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
.mySlides {display:none;}
</style>
  <body>
    <h1>Face Detection Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}" style="width : 500px; height:500px">
    <h2 class="w3-center">Automatic Slideshow</h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="blouse/1.png" style="width:100%">
</div>
  </body>
</html>